<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authentication</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Authentication</h2>

<form action="#" th:action="@{/authentication}" th:object="${userDto}" method="post">
    <p>Username: <input type="text" th:field="*{username}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p><input type="submit" name="register" value="Register" /></p>
    <p><input type="submit" name="login" value="Login" /></p>
</form>

<!--<p th:text = "${message}" ></p>-->

<!--<tr>-->
    <!--<td>Username:</td>-->
    <!--<td><input type="text" th:field="*{username}" /></td>-->
    <!--<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> Username Error </td>-->
<!--</tr>-->

</body>
</html>